.divider {
  width: 100%;
  height: 1;
  border-bottom: 1px solid #000000;
}

.divider.project {
  margin-top: clamp(2rem, 1.0291rem + 4.1424vw, 6rem);
  margin-bottom: clamp(2rem, 1.0291rem + 4.1424vw, 6rem);
}
