.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  max-width: 1920px;
  padding: clamp(1rem, -0.0563rem + 4.507vw, 4rem)
    clamp(0.5rem, -1.5631rem + 8.8026vw, 9rem);
}

.header__title {
  font-family: "Jura-Regular";
  font-size: var(--font-size-medium);
}

.header__subtitle {
  font-family: "Jura-Light";
  font-size: var(--font-size-small);
}

/* sm */
@media (min-width: 640px) {
  .header__title {
    font-size: var(--font-size-large);
  }
  .header__subtitle {
    font-size: var(--font-size-medium);
  }
}

/* md */
@media (min-width: 768px) {
  .header__title {
    font-size: var(--font-size-x-large);
  }
  .header__subtitle {
    font-size: var(--font-size-large);
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__title {
    font-size: var(--font-size-2x-large);
  }
  .header__subtitle {
    font-size: var(--font-size-x-large);
  }
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
  .header__title {
    font-size: var(--font-size-3x-large);
  }
  .header__subtitle {
    font-size: var(--font-size-2x-large);
  }
}

/* 3xl */
@media (min-width: 1920px) {
}
