.about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: clamp(1rem, -0.4683rem + 4.1315vw, 3.25rem);
}

.about-me__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  width: 100%;
  max-width: 1920px;
  padding-left: clamp(0.5rem, -1.5631rem + 8.8026vw, 9rem);
  padding-right: clamp(0.5rem, -1.5631rem + 8.8026vw, 9rem);
}

.about-me__image-wrapper {
  position: relative;
  grid-column: 1 / -1;
  width: 100%;
  padding: 16px;
  height: fit-content;
}

.about-me__image {
  width: 100%;
  height: auto;
  border: 1px solid #000000;
}

.about-me__other-informations {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.about-me__tags-canva {
  display: none;
  width: 100%;
  height: clamp(12.5rem, 7.949rem + 19.4175vw, 33rem);
}

.about-me__presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.about-me__title {
  font-family: "Jura-Light";
  font-size: clamp(1.25rem, 1.05rem + 1vw, 2.25rem);
  text-decoration-line: underline;
}

.about-me__paragraph {
  font-family: "KoHo-Regular";
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  text-align: justify;
}

.about-me__image-badge {
  position: absolute;
  bottom: 0;
  left: -8px;
  padding: 16px 28px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 15px;
  transform: rotateZ(3.6deg);
}

.about-me__image-badge p {
  font-family: "KoHo-Regular";
  font-size: var(--font-size-large);
}

.my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.my-projects__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: 1920px;
  padding-left: clamp(0.5rem, -1.5631rem + 8.8026vw, 9rem);
  padding-right: clamp(0.5rem, -1.5631rem + 8.8026vw, 9rem);
}

.my-projects__project-infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.my-projects__project-title {
  font-family: "Jura-Light";
  text-align: center;
  width: 100%;
  font-size: clamp(1.25rem, 1.05rem + 1vw, 2.25rem);
}

.my-projects__project-description {
  margin-top: 1rem;
  font-family: "KoHo-Regular";
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  text-align: justify;
}

.right-spacing {
  margin-right: 1rem;
}

.left-spacing {
  margin-left: 1rem;
}

.my-projects__project-pictures {
  flex: 1;
  border: 1px solid #000000;
}

.my-projects__techstack-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  gap: 8px;
  border: 1px solid #000000;
  flex-wrap: wrap;
  margin-top: auto;
}

.my-projects__techstack-container.right {
  margin-right: 1.5rem;
}

.my-projects__techstack-container.left {
  margin-left: 1.5rem;
}

.my-projects__stack-title {
  font-family: "Jura-Light";
  font-size: var(--font-size-x-large);
  font-weight: 500;
}

.skills {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: stretch;
  align-self: center;
  max-width: 1920px;
  width: 100%;
  background-color: #000000;
  gap: 1px;
  grid-template-areas:
    "t1"
    "c1"
    "t2"
    "c2"
    "t3"
    "c3";
}

.skills__title-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  background-color: #fffb00;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
.skills__title-container:nth-of-type(1) {
  grid-area: t1;
}
.skills__title-container:nth-of-type(2) {
  grid-area: t2;
}
.skills__title-container:nth-of-type(3) {
  grid-area: t3;
}

.skills__title {
  font-size: clamp(1.25rem, 0.9rem + 1.75vw, 3rem);
  font-family: "Jura-Regular";
  padding: 2.5rem 1.5rem;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
}

.skills__subtitle {
  font-size: 1.5rem;
  font-family: "KoHo-Regular";
}

.skills__subtitle.left {
  text-align: center;
}
.skills__subtitle.middle {
  text-align: center;
}
.skills__subtitle.right {
  text-align: center;
}

.skills__divider {
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.skills__content {
  display: flex;
  height: 100%;
  background-color: #fffb00;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}

.skills__content p {
  font-family: "KoHo-Regular";
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}
.skills__content.left {
  grid-area: c1;
}

.skills__content.middle {
  grid-area: c2;
}
.skills__content.right {
  grid-area: c3;
}

.skills__content.left p {
  text-align: center;
}

.skills__content.middle p {
  text-align: center;
}

.skills__content.right p {
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.contact p,
a {
  font-family: "KoHo-Regular";
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  color: #000000;
}

.contact__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* sm */
@media (min-width: 640px) {
  .about-me__image-wrapper {
    padding: 0;
  }
  .about-me__image-badge {
    left: -32px;
    bottom: -16px;
  }
  .about-me__presentation__title {
    font-size: var(--font-size-x-large);
  }
  .about-me__presentation__paragraph {
    font-size: var(--font-size-large);
  }
}

/* md */
@media (min-width: 768px) {
  .about-me__tags-canva {
    display: block;
  }
}

/* lg */
@media (min-width: 1024px) {
  .about-me__container {
    grid-template-columns: repeat(12, 1fr);
  }
  .about-me__image-wrapper {
    grid-column: 1 / span 7;
  }

  .about-me__other-informations {
    grid-column: 9 / span 4;
  }
  .about-me__presentation {
    align-items: flex-start;
  }
  .about-me__image-badge p {
    font-family: "KoHo-Regular";
    font-size: var(--font-size-x-large);
  }
  .my-projects__container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .my-projects__project-title {
    text-align: left;
  }

  .my-projects__project-description {
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  }

  .skills {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "t1 t2 t3"
      "c1 c2 c3";
  }

  .skills__subtitle.left {
    text-align: left;
  }
  .skills__subtitle.middle {
    text-align: center;
  }
  .skills__subtitle.right {
    text-align: right;
  }

  .skills__content.left p {
    text-align: left;
  }

  .skills__content.middle p {
    text-align: center;
  }

  .skills__content.right p {
    text-align: right;
  }
}

/* xl */
@media (min-width: 1280px) {
  .about-me__presentation__title {
    font-size: var(--font-size-2x-large);
  }
  .about-me__image-badge p {
    font-family: "KoHo-Regular";
    font-size: var(--font-size-2x-large);
  }
}

/* 2xl */
@media (min-width: 1536px) {
}

/* 3xl */
@media (min-width: 1920px) {
  .about-me__presentation__paragraph {
    font-size: var(--font-size-x-large);
  }
}
