@font-face {
  font-family: "Futura-Hv-BT-Heavy";
  src: url("./../fonts/Futura-Hv-BT-Heavy.ttf");
}

@font-face {
  font-family: "Jura-Light";
  src: url("./../fonts/Jura-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Jura-Regular";
  src: url("./../fonts/Jura-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "KoHo-Regular";
  src: url("./../fonts/KoHo-Regular.ttf");
  font-weight: 400;
}

:root {
  --font-size-2x-small: 0.625rem;
  --font-size-x-small: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;
  --font-size-x-large: 1.5rem;
  --font-size-2x-large: 2.25rem;
  --font-size-3x-large: 3rem;
  --font-size-4x-large: 4.5rem;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #fffb00;
  width: 100%;
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
}

sl-carousel::part(base) {
  gap: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
